<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src 'self' data: blob:; default-src 'self'; script-src 'self'"
    />
    <title>MyTeam</title>
    <link rel="stylesheet" href="./style/Admin.css" />
  </head>
  <body>
    <div id="admin-panel">
      <h3> Employee camera</h3>
      <img id="get-Video" />
    
    <table id="employee-table">
      <thead>
        <th>id</th>
        <th>Name</th>
        <th>email</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View Details</th>
       
      </thead>
      <tbody id="employee-list"></tbody>
    </table>
    <div id="image-container">
      <img id="adminimage">
    </div>
  </div>
    <script defer src="../Renderer/AdminRenderer.js"></script>
  </body>
</html>
