<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/login.css">
    <script src="../Renderer/login.js" ></script>
</head>
<body>
    <div id="login-panel">
        <label> Name : </label> <input type="text" id="name"><br/>
        <label>Email : </label> <input type="email" id="email"><br/>
        <label>Password : </label> <input type="password" id="password"><br/>
        <button id="submitBtn">Register</button>
       </div>
       <a href="loginuser.html">Login here</a>
</body>
</html>